@media print,
(max-width: 1247px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 36px;
        --font_size_title_small: 34px;
    }


    html.custom_scroll ::-webkit-scrollbar
    {
        width: 5px;
        height: 5px;
    }


    .cont
    {
        padding: 0 40px;
    }



    .block
    {
        margin-bottom: 60px;
    }


    .content_flex .content
    {
        width: 100%;
    }



    /*-----------
        Lines
    -----------*/
    .lines
    {
        display: none;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 13px 0;
    }

    .menu_open header:before
    {
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;

        display: block;

        width: 100%;
        height: 100%;

        content: '';

        background: #fbfcfe;
        box-shadow: 0 4px 8px rgba(66, 82, 110, .05);
    }


    header .mob_menu_btn
    {
        display: flex;
    }


    header .menu
    {
        position: fixed;
        z-index: 1;
        top: 0;
        right: 100%;

        display: block;
        overflow: auto;

        width: 100%;
        height: 100%;
        min-height: -moz-available;
        min-height: -webkit-fill-available;
        min-height:         fill-available;
        margin: 0;
        padding: 112px 20px 40px;

        transition: transform .3s linear;
        text-align: right;

        background: #fff;
    }

    header .menu.show
    {
        transform: translateX(100%);
    }


    header .menu_item + .menu_item
    {
        margin-top: 32px;
        margin-left: 0;
    }


    header .menu_item > a
    {
        font-size: 24px;
        font-weight: 600;

        display: inline-block;

        width: 334px;
        max-width: 100%;
        padding: 12px 15px;

        vertical-align: top;
    }

    header .menu_item > a.bg
    {
        font-size: 18px;
        font-weight: 600;
        line-height: 140.9%;

        margin-top: 20px;
        padding: 21px 45px;
    }

    header .menu_item > a:hover,
    header .menu_item > a:active
    {
        background: rgba(127, 164, 205, .2);
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 28px;
        padding: 28px 0 24px;
    }


    .page_title
    {
        font-size: 40px;
    }


    .page_head .tags
    {
        font-size: 15px;

        margin-top: 8px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside
    {
        width: 100%;
        margin-top: 60px;
    }



    aside .articles
    {
        width: calc(100% + 80px);
        margin-right: -40px;
        margin-left: -40px;
        padding: 24px 40px;

        border-radius: 0;
        box-shadow: none;
    }


    aside .articles .swiper
    {
        padding-bottom: 30px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }


    .block_head .title
    {
        line-height: 30px;

        padding-bottom: 24px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .submit .agree
    {
        width: calc(100% - 244px);
    }



    /*----------------
        Typography
    ----------------*/
    .text_block .image_block > *
    {
        width: 100%;
    }


    .text_block .image_block figure
    {
        margin-top: 44px;

        text-align: center;
    }

    .text_block .image_block figure img
    {
        margin-right: auto;
        margin-left: auto;
    }


    .text_block blockquote
    {
        padding: 22px 38px 20px 26px;
    }


    .text_block .columns
    {
        padding: 0;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 80px;
    }


    .first_section .cont
    {
        padding-top: 128px;
    }


    .first_section .title
    {
        font-size: 44px;
    }

    .first_section .title .swiper
    {
        width: 237px;
        height: 51px;
    }


    .first_section .desc
    {
        font-size: 17px;
    }


    .first_section .items
    {
        margin-top: 40px;
        padding-top: 140px;
    }


    .first_section .item1
    {
        left: 22%;
    }

    .first_section .item2
    {
        right: 22%;
    }

    .first_section .item3
    {
        left: 0;
    }

    .first_section .item4
    {
        right: 0;
    }

    .first_section .item3,
    .first_section .item4
    {
        top: 120px;
    }


    .first_section .image
    {
        display: none;
    }


    .first_section .mob_img
    {
        display: block;

        width: 668px;
        margin-bottom: 0;
    }



    /*------------
        Why we
    ------------*/
    .why_we
    {
        margin-bottom: 80px;
    }


    .why_we .block_head
    {
        margin-bottom: 28px;
    }


    .why_we .row
    {
        margin-left: -20px;
    }

    .why_we .row > *
    {
        width: calc(25% - 20px);
        margin-left: 20px;
    }


    .why_we .item .name
    {
        font-size: 18px;
    }


    .why_we .item .desc
    {
        font-size: 15px;

        margin-top: 8px;
    }



    /*------------------
        Our services
    ------------------*/
    .our_services
    {
        margin-bottom: 80px;
    }


    .our_services .block_head
    {
        margin-bottom: 60px;
    }


    .our_services .list > * + *
    {
        margin-top: 60px;
    }


    .our_services .service .images
    {
        width: calc(100% - 400px);
        padding: 32px 30px 42px 32px;
    }

    .our_services .service:nth-child(2n) .images
    {
        padding-right: 32px;
        padding-left: 30px;
    }


    .our_services .service .images .name
    {
        font-size: 36px;
        line-height: 26px;
    }


    .our_services .service .data
    {
        padding-top: 32px;
    }


    .our_services .service .data .name
    {
        font-size: 32px;
    }


    .our_services .service .desc
    {
        font-size: 16px;
    }


    .our_services .service .data
    {
        width: 400px;
    }


    .our_services .service .btn
    {
        padding: 14px 40px;
    }


    .our_services .service .images .swiper-horizontal > .swiper-pagination-bullets,
    .our_services .service .images .swiper-pagination-bullets.swiper-pagination-horizontal,
    .our_services .service .images .swiper-pagination-custom,
    .our_services .service .images .swiper-pagination-fraction
    {
        display: none;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        margin-bottom: 80px;
        padding: 0;

        background: none;
    }


    .reviews .swiper-slide
    {
        width: 380px;
    }


    .reviews .clients
    {
        margin-top: 48px;
    }


    .reviews .all_link
    {
        margin-top: 48px;
    }


    .reviews .all_link a
    {
        padding: 16px 40px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper-slide
    {
        visibility: visible;

        pointer-events: auto;

        opacity: 1;
    }


    .clients .swiper-button-prev,
    .clients .swiper-button-next
    {
        display: none;
    }



    /*--------------
        Articles
    --------------*/
    .articles .links
    {
        display: block;
        overflow: auto;

        width: calc(100% + 80px);
        margin: 0 -40px 28px;
        padding: 0 40px;

        white-space: nowrap;

        scrollbar-color: transparent transparent !important;
        scrollbar-width: thin !important;
    }

    .articles .links::-webkit-scrollbar
    {
        width: 0 !important;
        height: 0 !important;

        background-color: transparent !important;
    }

    .articles .links::-webkit-scrollbar-thumb
    {
        background-color: transparent !important;
    }


    .articles .links > *
    {
        display: inline-block;

        max-width: none;
        margin: 0;

        vertical-align: top;
    }

    .articles .links > * + *
    {
        margin-left: 16px;
    }


    .articles .links a:hover,
    .articles .links a.active
    {
        background: #42526e;
    }


    .articles .row
    {
        margin-left: -20px;
    }

    .articles .row > *
    {
        width: calc(50% - 20px);
        margin-left: 20px;
    }



    /*------------------
        Article head
    -------------------*/
    .article_head
    {
        margin-bottom: 24px;
        padding: 40px 0;
    }


    .article_head .page_title br
    {
        display: none;
    }


    .article_head .date
    {
        margin-top: 24px;
    }


    .article_head .tags
    {
        margin-top: 24px;
    }



    /*------------------
        Article info
    ------------------*/
    .article_info .back
    {
        margin-bottom: 24px;
    }



    /*-----------
        Stats
    -----------*/
    .stats .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .stats .row > *
    {
        width: calc(25% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .stats .item .val
    {
        font-size: 48px;
    }


    .stats .item
    {
        font-size: 17px;
    }



    /*-----------------
        Information
    -----------------*/
    .information
    {
        margin-bottom: 80px;
    }


    .information .data
    {
        padding: 24px;
    }


    .information .row
    {
        margin-bottom: -24px;
        margin-left: -24px;
    }

    .information .row > *
    {
        width: calc(33.333% - 24px);
        margin-bottom: 24px;
        margin-left: 24px;
    }


    .information .bottom
    {
        font-size: 18px;
    }



    /*--------------
        Services
    --------------*/
    .services
    {
        margin-bottom: 60px;
    }


    .services .service
    {
        padding: 24px;
    }


    .services .service .name
    {
        font-size: 32px;
    }


    .services .service .text_block
    {
        font-size: 16px;
    }


    .services .service .tags
    {
        padding-top: 16px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 80px;
        padding: 60px 0 0;
    }


    .about_info .data
    {
        width: 100%;
        max-width: 100%;
        padding: 0;
    }


    .about_info .item
    {
        font-size: 17px;
    }

    .about_info .item + .item
    {
        margin-top: 28px;
    }


    .about_info .image
    {
        display: none;
    }


    .about_info .logos
    {
        margin-top: 40px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .swiper
    {
        padding-bottom: 30px;
    }


    .projects .project .thumb
    {
        width: calc(100% - 400px);
        padding: 32px 30px 42px 32px;
    }


    .projects .project .data
    {
        width: 400px;
        padding-top: 32px;
    }


    .projects .project .desc
    {
        font-size: 16px;
    }


    .projects .project .tags
    {
        margin-top: 16px;
    }


    .projects .swiper-button-next
    {
        right: 430px;
    }

    .projects .swiper-button-prev
    {
        right: 476px;
    }


    .projects .swiper-horizontal > .swiper-pagination-bullets,
    .projects .swiper-pagination-bullets.swiper-pagination-horizontal,
    .projects .swiper-pagination-custom,
    .projects .swiper-pagination-fraction
    {
        right: 524px;
    }



    /*------------------
        Work process
    ------------------*/
    .work_process
    {
        margin-bottom: 80px;
        padding: 60px 0;
    }


    .work_process .row
    {
        margin-bottom: -32px;
        margin-left: -32px;
    }


    .work_process .row > *
    {
        width: calc(50% - 32px);
        margin-bottom: 32px;
        margin-left: 32px;
    }

    .work_process .row > *:nth-child(2):before
    {
        top: 100%;
        right: 0;
        bottom: auto;
        left: 0;

        width: 52px;
        height: 19px;

        border-top: 19px solid #fff;
        border-right: 26px solid transparent;
        border-left: 26px solid transparent;
    }

    .work_process .row > *:nth-child(3)
    {
        order: 4;
    }

    .work_process .row > *:nth-child(3):before
    {
        top: 0;
        right: 100%;
        bottom: 0;
        left: auto;

        width: 19px;
        height: 52px;

        transform: rotate(180deg);

        border-top: 26px solid transparent;
        border-bottom: 26px solid transparent;
        border-left: 19px solid #fff;
    }

    .work_process .row > *:nth-child(4)
    {
        order: 3;
    }

    .work_process .row > *:nth-child(4):before
    {
        top: 100%;
        right: 0;
        bottom: auto;
        left: 0;

        width: 52px;
        height: 19px;

        transform: none;

        border-top: 19px solid #fff;
        border-right: 26px solid transparent;
        border-left: 26px solid transparent;
    }

    .work_process .row > *:nth-child(5):before
    {
        left: 100%;

        transform: none;
    }

    .work_process .row > *:nth-child(6)
    {
        order: 6;
    }


    .work_process .item .name
    {
        font-size: 18px;
    }



    /*------------
        Prices
    ------------*/
    .prices
    {
        margin-bottom: 80px;
    }


    .prices .row
    {
        margin-bottom: -20px;
        margin-left: -20px;
    }

    .prices .row > *
    {
        width: calc(33.333% - 20px);
        margin-bottom: 20px;
        margin-left: 20px;
    }


    .prices .item
    {
        padding: 24px 12px;
    }


    .prices .item .name
    {
        font-size: 20px;
    }


    .prices .item .price .val
    {
        font-size: 30px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        margin-bottom: 60px;
    }


    .feedback .data
    {
        padding: 25px;
    }


    .feedback .form
    {
        width: 100%;
    }


    .feedback .img
    {
        display: none;
    }


    .feedback .success
    {
        padding: 34px;

        text-align: center;
    }


    .feedback .success .title
    {
        font-size: 30px;
    }


    .feedback .success .desc
    {
        font-size: 18px;
    }


    .feedback .qr_code
    {
        font-size: 18px;

        padding: 32px 80px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 80px;
    }


    .contacts_info .data
    {
        width: 284px;
        max-width: 100%;
    }


    .contacts_info .block_head
    {
        margin-bottom: 51px;

        text-align: left;
    }

    .contacts_info .block_head .title:after
    {
        right: auto;
    }


    .contacts_info .item + .item,
    .contacts_info .socials
    {
        margin-top: 34px;
    }


    .contacts_info .map
    {
        width: calc(100% - 370px);
        height: 433px;
        margin-top: 0;
        margin-left: auto;
    }



    /*--------------
        About us
    --------------*/
    .about_us
    {
        padding: 60px 0;
    }


    .about_us .boss
    {
        width: 340px;
        height: 348px;
    }


    .about_us .boss .name
    {
        font-size: 20px;

        bottom: 28px;
    }


    .about_us .data
    {
        width: calc(100% - 368px);
    }


    .about_us .sugnature img
    {
        height: 64px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .swiper-slide
    {
        width: 168px;
    }



    /*------------
        Footer
    ------------*/
    footer .socials a + a
    {
        margin-left: 24px;
    }



    footer .info .links + .links
    {
        margin-left: 80px;
    }
}
