@media print,
(max-width: 767px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 32px;
    }


    .cont
    {
        padding: 0 20px;
    }



    .block
    {
        margin-bottom: 60px;
    }



    /*----------------
        Pagination
    ----------------*/
    .pagination
    {
        width: calc(100% + 12px);
        margin-top: 20px;
        margin-right: -6px;
        margin-left: -6px;
    }


    .pagination a:nth-child(4) ~ *
    {
        display: none;
    }


    .pagination a.prev,
    .pagination a.next
    {
        display: flex;
    }



    /*------------
        Header
    ------------*/
    header
    {
        padding: 12px 0;
    }


    header .mob_menu_btn
    {
        color: #367dcb;

        width: 68px;
        height: 48px;
    }

    header .mob_menu_btn .icon
    {
        width: 44px;
        height: 24px;
    }

    header .mob_menu_btn .icon + .icon
    {
        width: 30px;
        height: 30px;
    }



    header .menu
    {
        padding-top: 110px;

        background: #e5f0fe;
    }


    header .menu_item + .menu_item
    {
        margin-top: 7px;
    }


    header .menu_item > a.bg
    {
        margin-top: 27px;
    }



    /*-------------
        Sidebar
    -------------*/
    aside .articles .article .info
    {
        padding: 24px 20px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head
    {
        margin-bottom: 12px;
        padding: 20px 0;
    }


    .page_title
    {
        font-size: 24px;
    }


    .page_head .tags
    {
        font-size: 14px;
    }



    /*----------------
        Block head
    ----------------*/
    .block_head
    {
        margin-bottom: 40px;
    }


    .block_head .title
    {
        padding-bottom: 14px;
    }

    .block_head .title:after
    {
        width: 44px;
    }


    .block_head .desc
    {
        font-size: 16px;
    }



    /*------------------
        Form elements
    ------------------*/
    .form .columns > *
    {
        width: calc(100% - var(--form_columns_offset));
    }


    .form .line
    {
        margin-bottom: 16px;
    }


    .form .submit
    {
        padding-top: 4px;
    }


    .form .submit_btn
    {
        width: 100%;

        order: 2;
    }


    .form .submit .agree
    {
        width: 100%;
        margin-bottom: 23px;
        margin-left: 0;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 15px;
    }


    .text_block h1
    {
        font-size: 44px;
    }

    .text_block h2
    {
        font-size: 36px;
    }

    .text_block h3
    {
        font-size: 32px;
    }

    .text_block h4
    {
        font-size: 24px;
    }

    .text_block h5
    {
        font-size: 20px;
    }

    .text_block h6
    {
        font-size: 16px;
    }


    .text_block .image_block figure
    {
        margin-top: 32px;
    }


    .text_block blockquote
    {
        padding: 22px 27px 18px 24px;
    }


    .text_block ul li:before
    {
        top: 12px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section
    {
        margin-bottom: 60px;
    }


    .first_section .cont
    {
        padding-top: 105px;
    }


    .first_section .title
    {
        font-size: 32px;
    }

    .first_section .title .swiper
    {
        width: 172px;
        height: 37px;
    }


    .first_section .desc
    {
        font-size: 16px;

        margin-top: 12px;
    }


    .first_section .items
    {
        display: flex;

        margin-top: 31px;
        padding-top: 0;

        justify-content: space-between;
        align-items: flex-start;
        align-content: flex-start;
        flex-wrap: wrap;
    }


    .first_section .item
    {
        font-size: 16px;

        position: relative;
        right: 0;
        left: 0;

        width: calc(50% - 10px);
        margin-bottom: 32px;
    }

    .first_section .item3,
    .first_section .item4
    {
        top: 0;
    }


    .first_section .item .icon
    {
        background: #367dcb;
    }


    .first_section .item .tooltip
    {
        left: 0;

        width: 100%;
        margin: 0;
    }

    .first_section .item .tooltip
    {
        font-size: 12px;
    }


    .first_section .img
    {
        width: 100%;
    }



    /*------------
        Why we
    ------------*/
    .why_we
    {
        margin-bottom: 60px;
    }


    .why_we .block_head
    {
        margin-bottom: 20px;
    }


    .why_we .row
    {
        margin-bottom: -24px;
        margin-left: 0;
    }

    .why_we .row > *
    {
        width: 100%;
        margin-bottom: 24px;
        margin-left: 0;
    }


    .why_we .item .desc
    {
        padding: 0;
    }



    /*------------------
        Our services
    ------------------*/
    .our_services
    {
        margin-bottom: 60px;
    }


    .our_services .block_head
    {
        margin-bottom: 32px;
    }


    .our_services .list > * + *
    {
        margin-top: 48px;
    }


    .our_services .service .images,
    .our_services .service:nth-child(2n) .images
    {
        width: 100%;
        margin-bottom: 12px;
        padding: 0;
    }

    .our_services .service .images:before,
    .our_services .service .images:after,
    .our_services .service .images .name
    {
        display: none;
    }


    .our_services .service .data .name
    {
        font-size: 24px;
    }


    .our_services .service .tags
    {
        margin-top: 12px;
    }


    .our_services .service .desc
    {
        font-size: 16px;

        margin-top: 12px;
    }


    .our_services .service .btn
    {
        font-weight: 500;

        width: 100%;
        margin-top: 12px;

        text-align: center;
    }



    /*-------------
        Reviews
    -------------*/
    .reviews
    {
        margin-bottom: 60px;
        padding: 0;
    }


    .reviews .block_head
    {
        margin-bottom: 20px;
    }


    .reviews .swiper-slide
    {
        visibility: visible;

        width: 328px;

        pointer-events: auto;

        opacity: 1;
    }


    .reviews .all_link
    {
        margin-top: 40px;
    }


    .reviews .clients
    {
        margin-top: 40px;
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper-slide
    {
        width: 278px;
    }



    /*-------------------
        Contacts info
    -------------------*/
    .contacts_info
    {
        margin-bottom: 60px;
    }


    .contacts_info .data
    {
        width: 100%;
    }


    .contacts_info .block_head
    {
        margin-bottom: 40px;

        text-align: center;
    }

    .contacts_info .block_head .title:after
    {
        right: 0;
        left: 0;
    }


    .contacts_info .map
    {
        width: 100%;
        height: 245px;
        margin-top: 40px;
    }



    /*--------------
        Articles
    --------------*/
    .articles .row
    {
        margin-bottom: -20px;
        margin-left: 0;
    }


    .articles .row > *
    {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }


    .articles .article .info
    {
        padding: 20px 16px;
    }



    /*------------------
        Article head
    -------------------*/
    .article_head .page_title
    {
        font-size: 42px;
    }


    .article_head .tags
    {
        margin-top: 24px;
        margin-bottom: -8px;
        margin-left: -8px;
    }

    .article_head .tags > *
    {
        font-size: 14px;

        margin-bottom: 8px;
        margin-left: 8px;
    }




    /*-----------
        Stats
    -----------*/
    .stats .row
    {
        margin-bottom: -40px;
        margin-left: -20px;
    }

    .stats .row > *
    {
        width: calc(50% - 20px);
        margin-bottom: 40px;
        margin-left: 20px;
    }


    .stats .item .val
    {
        font-size: 40px;
    }



    /*-----------------
        Information
    -----------------*/
    .information
    {
        margin-bottom: 60px;
    }


    .information .row
    {
        margin-left: 0;
    }


    .information .row > *
    {
        width: 100%;
        margin-left: 0;
    }



    /*--------------
        Services
    --------------*/
    .services .service
    {
        padding: 20px;
    }


    .services .service .name
    {
        font-size: 24px;
    }



    /*----------------
        About info
    ----------------*/
    .about_info
    {
        margin-bottom: 60px;
    }


    .about_info .block_head
    {
        margin-bottom: 40px;
    }


    .about_info .logos .row
    {
        margin-bottom: -20px;
        margin-left: -40px;

        justify-content: center;
    }

    .about_info .logos .row > *
    {
        margin-bottom: 20px;
        margin-left: 40px;
    }



    /*--------------
        Projects
    --------------*/
    .projects .project .thumb
    {
        margin-bottom: 20px;
        padding: 0;

        border: none;
    }

    .projects .project .thumb:before,
    .projects .project .thumb:after
    {
        display: none;
    }


    .projects .project .image .icon
    {
        transform: scale(.85);
    }


    .projects .project .name
    {
        font-size: 24px;
        line-height: 100%;
    }



    /*------------------
        Work process
    ------------------*/
    .work_process
    {
        margin-bottom: 60px;
    }


    .work_process .row
    {
        margin-left: 0;
    }

    .work_process .row > *
    {
        width: 100%;
        margin-left: 0;
    }


    .work_process .row > *
    {
        order: 0 !important;
    }

    .work_process .item:before,
    .work_process .row > *:nth-child(3):before,
    .work_process .row > *:nth-child(5):before
    {
        top: 100%;
        right: 0;
        bottom: auto;
        left: 0;

        width: 52px;
        height: 19px;

        transform: none;

        border-top: 19px solid #fff;
        border-right: 26px solid transparent;
        border-left: 26px solid transparent;
    }



    /*------------
        Prices
    ------------*/
    .prices .row
    {
        margin-bottom: -20px;
        margin-left: 0;
    }

    .prices .row > *
    {
        width: 100%;
        margin-bottom: 20px;
        margin-left: 0;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback
    {
        margin-bottom: 60px;
        padding: 0;
    }


    .feedback .block_head
    {
        margin-bottom: 20px;
    }


    .feedback .data
    {
        width: calc(100% + 40px);
        margin-right: -20px;
        margin-left: -20px;
        padding: 36px 20px;

        border: none;
    }


    .feedback .success
    {
        top: 0;
        left: 0;

        width: 100%;
        height: 100%;
        padding: 20px;

        border: none;
    }


    .feedback .success .title
    {
        font-size: 26px;
    }


    .feedback .success .desc
    {
        font-size: 16px;
    }


    .feedback .qr_code
    {
        font-size: 15px;

        padding: 20px;
    }


    .feedback .qr_code img
    {
        width: 92px;
        height: 92px;
    }


    .feedback .qr_code img + div
    {
        width: calc(100% - 112px);
    }



    /*--------------
        About us
    --------------*/
    .about_us
    {
        padding: 48px 0;
    }


    .about_us .boss
    {
        margin-bottom: 24px;
    }


    .about_us .data
    {
        width: 100%;
    }


    .about_us .sugnature
    {
        margin-top: 20px;
    }

    .about_us .sugnature img
    {
        height: 48px;
    }



    /*-------------
        Gallery
    -------------*/
    .gallery .swiper-slide
    {
        width: 120px;
    }


    .gallery .image
    {
        height: 68px;
    }



    /*------------
        Footer
    ------------*/
    footer .info
    {
        padding-bottom: 40px;
    }


    footer .col
    {
        display: flex;
        flex-direction: row;

        width: 100%;
        margin-bottom: 40px;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }


    footer .logo
    {
        margin: 0;
    }


    footer .socials
    {
        width: calc(50% - 10px);
    }



    footer .info .links
    {
        width: calc(50% - 10px);
    }

    footer .info .links + .links
    {
        margin-left: auto;
    }



    footer .contacts
    {
        display: flex;

        width: 100%;
        margin-top: 40px;

        text-align: left;

        justify-content: space-between;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }


    footer .contacts > *
    {
        width: calc(50% - 10px);
    }

    footer .contacts > * + *
    {
        margin-top: 0;
        margin-left: auto;
    }


    footer .contacts .location,
    footer .contacts .phone
    {
        justify-content: flex-start;
    }


    footer .contacts .time,
    footer .contacts .address
    {
        padding-left: 28px;
    }



    footer .bottom .email
    {
        width: calc(50% - 10px);
    }



    footer .bottom .copyright
    {
        width: 100%;
        margin-top: 8px;

        order: 3;
    }





    .menu-item-123
    {
        margin-top: 20px !important;
    }

    .text_block .columns
    {
        font-size: 18px;
        line-height: 150%;
    }



    .projects .project .date
    {
        text-align: right;
    }
}
