@media (max-width: 479px)
{
    /*-------------------
        Global styles
    -------------------*/
    :root
    {
        --font_size_title: 30px;
    }


    .cont
    {
        padding: 0 16px;
    }



    /*------------
        Header
    ------------*/
    header .menu_item > a
    {
        text-align: right;
    }

    header .menu_item:last-child > a
    {
        display: inline-block;

        width: auto;
        padding: 15px 40px;
    }


    header .mob_menu_btn
    {
        width: 56px;
        height: 36px;
    }



    /*---------------
        Page head
    ---------------*/
    .page_head .tags > * + *
    {
        margin-left: 6px;
    }



    /*----------------
        Typography
    ----------------*/
    .text_block
    {
        font-size: 16px;
    }



    /*-------------------
        First section
    -------------------*/
    .first_section .title
    {
        font-size: 32px;
    }

    .first_section .title .swiper
    {
        width: 172px;
        height: 37px;
    }


    .first_section .desc
    {
        font-size: 20px;

        padding: 0 20px;
    }

    .first_section .desc br
    {
        display: none;
    }


    .first_section .item br
    {
        display: none;
    }



    /*-------------
        Clients
    -------------*/
    .clients .swiper
    {
        padding: 0 25px;
    }



    /*--------------
        Feedback
    --------------*/
    .feedback .success .title
    {
        font-size: 24px;
    }


    .feedback .success .desc
    {
        font-size: 15px;
    }



    .feedback .qr_code
    {
        font-size: 13px;
    }



    /*--------------
        About us
    --------------*/
    .about_us .boss
    {
        width: 100%;
        height: auto;
        padding-bottom: 100%;
    }



    /*------------
        Footer
    ------------*/
    footer .socials
    {
        width: 100%;
        margin-top: 28px;
    }



    footer .contacts
    {
        margin-top: 32px;
    }


    footer .contacts > *
    {
        width: 100%;
    }

    footer .contacts > * + *
    {
        margin-top: 20px;
    }



    footer .bottom .email
    {
        width: 100%;
        margin-top: 8px;
    }
}
